@media screen and (min-width: 400px){
    html{
      scroll-behavior: smooth;
    }
body{
    font-family: 'Raleway', sans-serif;
    /*background-image: url(../imgs/background.jpeg);*/
    background-color: #8BB0EB;
    margin: 1%;
    padding: 1%;
    font-size: 16pt;
    text-align: justify;
    line-height: 1.6;
  }

p{
    margin-bottom: 32px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

nav{
    text-align: left;
    padding: 10px;
    width: 100%;
    background-color: #000000;
}
nav a{
    color: #000000;
    text-decoration: none;
}

nav a:hover{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    color: #000000;
}

nav li{
    padding: 2px;
}

.nav_links{
    margin: 0;
    padding: 0;
    font-size: 25px;
    background-color: #4A98E8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.nav_links #current_page{
    font-weight: bold;
    color: #FFFFFF;
    border: 2px solid white;
    text-transform: uppercase;
}

.skip{
    background: #ffff00;
    height: 30px;
    left: 0%;
    padding: 8px;
    position: absolute;
    top: -50px;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
.skip:focus{
    transform: translateY(0%);
    top: 50px;
}

h1{
    text-align: center;
    font-size: 25px;
    padding-top: 20px
}


img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width:auto;
    border: 3px solid blue;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}


.grad_container{
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto;
    justify-content: center;
    align-content: center;
    padding-bottom: 5px;
  }

#parallax{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-position: center;
    background-image: url("../imgs/grad8.JPG");
}
form{
    width: 250px;
    padding-top: 1000px;
    padding-bottom: 40px;
  }

footer{
    position: bottom;
    width: 100%;
    background-color: #C0C0C0;
}

  /* Citation: https://www.w3schools.com/howto/howto_css_flip_card.asp */
  .home-flip-front img{
    width: 800px;
    height: 500px;
  }
  .home-flip {
    background-color: transparent;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    perspective: 1000px;
  }
  .home-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    cursor: pointer;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .home-flip:hover .home-flip-inner, .home-flip-inner:focus{
    transform: rotateY(180deg);
  }
  .home-flip-front, .home-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .home-flip-front {
    background-color: #bbb;
    color: black;
  }
  .home-flip-back {
    background-color: #f0f0f0;
    color: #2E2E2E;
    transform: rotateY(180deg);
  }




}








/*Media Queries*/
@media screen and (min-width: 750px){
    body, #england-back, #sf-back, #pitt-back, #home-back{
      font-size: 20px;
      background: #8BB0EB;
    }


}







/* Desktop */
@media screen and (min-width: 1100px){
    body{
      font-size: 25px;
      background: #8BB0EB;
    }

    .ru2020 img{
        width: 600px
      }

      /* Grid for Graduation page */
    .grad_container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto auto auto auto;
        padding-bottom: 20px;
    }

    .ru2020 img:nth-child(5){
        grid-column: 1;
        grid-row: 3;
    }
    .ru2020 img:nth-child(7){
        grid-column: 2;
        grid-row: 3;
    }
    .ru2020 img:nth-child(3){
        grid-column: 3;
        grid-row: 3;
    }
    .ru2020 img:nth-child(1){
    grid-column: 1;
        grid-row: 4;
    }
    .ru2020 img:nth-child(2){
        grid-column: 2;
        grid-row: 4;
    }
    .ru2020 img:nth-child(9){
        grid-column: 3;
        grid-row: 4;
    }
    .ru2020 img:nth-child(4){
        grid-column: 1;
        grid-row: 5;
    }
    .ru2020 img:nth-child(6){
        grid-column: 2;
        grid-row: 5;
    }
    .ru2020 img:nth-child(8){
        grid-column: 3;
        grid-row: 5;
    }



}

/* Reduced Motion */
@media screen and (prefers-reduced-motion: reduce){



}


